:root {
    /* font-size: 63.5%; */
}

* {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    margin: 0px;
}

.bg,
html {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background: linear-gradient(135deg, orange, #D83F31);
}

.nav-item i {
    font-size: 3.2rem;
}

li i {
    font-size: 2rem;
}


ul li {
    list-style: none;
    font-size: 2rem;
    padding: 12px;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

ul li .card {
    width: 100%;
}


ul li.checked {
    color: #555;
    text-decoration: line-through;

    margin-right: auto;
}

ul i {
    margin-right: 1rem;
}