* {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    margin: 0px;
}

.nav-item p {
    font-size: 30px;
}

i {
    font-size: 3.2rem;
}

section {
    height: 100%;
}

.timer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 800px;

}

.painer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: .8rem;
    width: 20rem;
    background-color: #D9D9D9;
    border-radius: 10rem;
    -webkit-box-shadow: 0px 0px 17px 20px rgba(46, 28, 211, 0.18);
    -moz-box-shadow: 0px 0px 17px 20px rgba(52, 40, 216, 0.18);
    box-shadow: 0px 0px 17px 20px rgba(43, 49, 231, 0.18);
}

.painer p {
    opacity: .9;
    transition: 1s ease-in;
    font-size: 1.4rem;
    font-weight: 800;
}

.painer p.active {
    opacity: 1;
    color: #CF3030;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    background-color: #141414;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 17px 20px rgba(223, 159, 33, 0.18);
    -moz-box-shadow: 0px 0px 17px 20px rgba(223, 159, 33, 0.18);
    box-shadow: 0px 0px 17px 20px rgba(223, 159, 33, 0.18);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26rem;
    height: 26rem;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.circle::before {
    content: "";
    position: absolute;
    width: 27rem;
    height: 27rem;
    border-radius: 50%;
    background-color: #CF3030;
    z-index: -1;
}

.time {
    position: relative;
    display: flex;
}

.time p {
    font-size: 5.6rem;
}

.time p:nth-last-of-type(2) {
    position: relative;
    top: -.5rem;
}

.controller {
    margin-top: rem;
}

.controller button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.controller #reset {
    display: none;
}

.bg,
html {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, orange, #D83F31);
}


.timer.countdown {
    animation: countdown 1s ease-in infinite;
    z-index: 0;
}

@keyframes countdown {
    0% {
        transform: scale(1);
        background-color: orange;
    }

    50% {
        transform: scale(1.01);
        background-color: red;
    }

    100% {
        transform: scale(1);
        background-color: orange;
    }
}